@font-face {
  font-family: 'crumble';
  src: url('../font/crumble.ttf');
}


h1 {
	font-family: 'crumble', cursive;
	font-size: 70px;
	text-align: center;
	color: rgba(11, 40, 89, 0.8);
}

head {
	
}

body { 
	
}

.container {
	letter-spacing: 10px;
	text-align: center;
	font-size: 18px;
}

    

    #owl-demo .owl-item div{
    	padding:5px;
    }

    #owl-demo .owl-item img{
    	display: block;
    	width: 100%;
    	height: auto;
    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    }

