


h1 {
	font-family: 'Chewy', cursive;
	font-size: 70px;
	text-align: center;
    color: rgba(72, 114, 240, 0.6);
    margin-top: -35px;


}

h2  {
    text-align: center;
    margin-top: 20px;
}


head {
	
}

body {
    background-image: url(../img/background.png);

}

.navbar-fixed-top {
    background-color: #FFFFFF;

}


.container {
	letter-spacing: 10px;
	text-align: center;
	font-size: 18px;
}

#carousel {
    

}


img {
    height:auto; 
    width:auto; 
    max-width:100%; 
    max-height:100%;
}

#volet , #volet_1 , #volet_2{
    width: 93%;
    padding: 10px;
    background: rgba(28, 207, 36, 0.9); color: #fff; 
    margin-top: 1%  
}

#volet a.ouvrir , #volet a.fermer , #volet_1 a.ouvrir , #volet_1 a.fermer , #volet_2 a.ouvrir , #volet_2 a.fermer{
    padding: 10px 25px;
    background: #555;
    color: #fff;
    text-decoration: none;
}

#volet , #volet_1 , #volet_2 {
    position: relative;
    left: -100%; top: 55px;
}

#volet a.ouvrir , #volet a.fermer ,#volet_1 a.ouvrir , #volet_1 a.fermer ,#volet_2 a.ouvrir , #volet_2 a.fermer{
    position: absolute;
    right: -88px;
    top: 150px;

    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet  , #volet_1 , #volet_2{
    -webkit-transition: all .5s ease-in;
    transition:.5s ease-in;
}

#volet:target , #volet_1:target , #volet_2:target {
    left: 0;
}

#volet a.fermer , #volet_1 a.fermer ,#volet_2 a.fermer{
    display: none ;
}
#volet_clos:target #volet , #volet_clos_1:target #volet_1 , #volet_clos_2:target #volet_2 {
    left: -97%;
}

#volet:target a.ouvrir , #volet_1:target a.ouvrir, #volet_2:target a.ouvrir{
    display: none;
}
#volet:target a.fermer , #volet_1:target a.fermer, #volet_2:target a.fermer{
    display: block;
}
