


h1 {
	font-family: 'Chewy', cursive;
	font-size: 70px;
	text-align: center;
    color: rgba(72, 114, 240, 1);
    margin-top: -35px;


}

h2  {
    text-align: center;
    margin-top: 20px;
}


head {
	
}

body {
    background-image: url(../img/background.png);
}

.navbar-fixed-top {
    background-color: #FFFFFF;

}


.container {
	letter-spacing: 10px;
	text-align: center;
	font-size: 18px;
}

#carousel {
    

}


img {
    height:auto; 
    width:auto; 
    max-width:100%; 
    max-height:100%;
}

