body {
	    background-color:  #F0F0F0;
}

@font-face {
    font-family: 'gravity';
    src: url('../fonts/gravity.ttf');
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
    margin-bottom: 5%;
}

.mail {
    
}

#navbar-brand img {
}
#carousel-example-generic{
    
    width: 100%
}
#headcolorac{
	background-color: #18C470;
}
#accordion{
	margin-top: 70px;
}

#infos {
    font-family: 'gravity';
    
}

#paragraphes {
    text-align: left;
    font-family: 'gravity';
}

#paragraphe1 {
    background-color:rgba(238,27,89,0.5);
}

#paragraphe2 {
    background-color: rgba(238,105,0,0.5);
}

#paragraphe3 {
    background-color: rgba(64,201,21,0.5);
}

.label-danger {
    background-color: #ED1970;
    display:block;
    
}

.label-warning {
    background-color: #FF5723;
    display:block;
}

.label-succes {
    background-color: #379103;
    display:block;
    font-size: 20px;
}
.label {
    display: inline-block;
    padding: 3% 9% 5%;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em;
    margin-top: 10px;
    margin-left: 17px;
    -webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.label:hover, .label:focus, .label:active {
-webkit-transform: translateY(10px);
transform: translateY(10px);
-webkit-animation-name: hang;
animation-name: hang;
-webkit-animation-duration: 1.5s;
animation-duration: 1.5s;
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
}

* {
    box-sizing: border-box;
}

#logo
{
    height: 80%;
    width: 160%;
    
}



