body {
	    background-color:  #F0F0F0;
}

@font-face {
    font-family: 'gravity';
    src: url('../fonts/gravity.ttf');
}

h2 {
    text-align: center; 
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    margin-bottom: 5%;
}

.row {
    margin-top: 20px;
}

.greyblock {
    background-color: rgba(133, 137, 138, 0.1);
    border-radius: 10px;
}

.mail {
    
}

#navbar-brand img {
}

#carousel-example-generic{
    
}

#headcolorac{
	background-color: #18C470;
}

#infos {
    font-family: 'gravity';
    
}

#paragraphes {
    
    text-align: left;
    font-family: 'gravity';
    
    
}

#paragraphe1 {

    background-color:rgba(238,27,89,0.5);
    padding: 1% ;
    margin-top: 1% ;
}

#paragraphe2 {

    background-color: rgba(238,105,0,0.5);
    padding :2%;
}

#paragraphe3 {

    background-color: rgba(64,201,21,0.5);
    padding : 2%;
}

#paragraphe1 , #paragraphe2 , #paragraphe3{

    
}

.label-danger {
    background-color: #ED1970;
    display:block;
    
}

.label-warning {
    background-color: #FF5723;
    display:block;
}

.label-succes {
    background-color: #379103;
    display:block;
    font-size: 20px;
}
.label {
    display: inline-block;
    padding: 3% 9% 5%;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em;
    margin-top: 20px;
    margin-left: 17px;
    -webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.label:hover, .label:focus, .label:active {
-webkit-transform: translateY(10px);
transform: translateY(10px);
-webkit-animation-name: hang;
animation-name: hang;
-webkit-animation-duration: 1.5s;
animation-duration: 1.5s;
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
}

* {
    box-sizing: border-box;
}

.logo{

    padding-bottom:  ;
    height: 80%;
    width: 160%;
    
}


#footer {

    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 5px; 
}

.ressource
{
    margin: 50px 50px 50px 50px;

}
.boxcontact
{
    text-align: center;
   /* input, textarea; */
    width: 100%;
}
}
#bande_horizontale{
padding: 0px;
margin-right: 80px;
margin-left: 80px;
margin-bottom: 25px;
border: none;
width: auto;
height: 1px;
background-color: red;
}
#marg{
margin-bottom: -15px;
}
#boxnom{
text-align: center;
margin-bottom: 5px;
border-radius: 5px;
}
#boxprenom{
text-align: center;
margin-bottom: 5px;
border-radius: 5px;
}
#boxmail{
text-align: center;
margin-bottom: 5px;
border-radius: 5px;
}
#boxphone{
text-align: center;
margin-bottom: 5px;
border-radius: 5px;
}
#boxmessage{
text-align: center;
margin-bottom: 5px;
border-radius: 5px;
}
#mentions{
text-decoration: blink;
text-align: center;
margin:auto;
}

p {
color: #7E8080;
}

#boxenvoyer{
text-align: center;
margin: 5px 0px 5px 0px;
border-radius: 5px;
}
#adresse{
text-align: center;
font-size: 120%;
margin-bottom: 40px;
}

#formulaire {
    text-align: center;

}
