body {
	    background-color:  #F0F0F0;
}
#txthead h2 {
	text-align: center;
	color: rgba(72, 114, 240, 0.6);
	font-size: 70px;
	margin-top: 100px;
	font-family: 'Chewy', cursive;
}
#headcaro{
	margin-top: 100px;
}
#carousel-example-generic{
	margin: 0 auto;
	width: 50%;

}
#accordion{
	margin-top: 70px;
}

#nav{
	margin-left: 90px;
}