---
title: Historique
---
<h1>Toute la Petite-Enfance, l'Enfance et la jeunesse Des Portes du Perche</h1>
<div class="dates"><h3>L'association en quelques dates :</h3></div>

	<div>

		<p><span>En 1998,</span> l'association crée deux emploi avec le projet d'ouverture de la Maison des jeunes. A cette époque, la commune de La Loupe est la première signataire d'un Contrat Educatif Local avec la Caisse d'Allocations Familiales et d'un Contrat Temps Libre avec l'Etat.</p>

		<p><span>En 1999, </span>l'action "Jardin Bleu" s'appuie sur le Contrat Local d'Accompagnement à la Scolarité signé avec la Caisse d'Allocations Familiales.</p>

		<p><span>En 2000, </span>ouverture de la Maison des Jeunes.</p>

		<p><span>En 2002, </span>l'association "Grandir à La Loupe" dont l'activité est de proposer un accueil des parents avec leurs enfants avant l'entrée à l'école est absorbée. Ce dispositif nommé "La Coccinelle" est organisé grâce à une mise à disposition par le Conseil Général de personnel de la Protection Maternelle Infantile (Educatrice de Jeunes Enfants et Infirmières). Ce lieu est labélisé en Lieu d'Accueil Enfants Parents depuis 2010 (label CAF).</p>

		<p><span>En 2004, </span>une convention est signée avec la Communauté de Communes des Portes du Perche pour le transfert de la compétence enfance-jeunesse.</p>

		<p><span>En 2009, </span>ouvderture de l'accueil de loisirs les Mercredis.</p>

		<p><span>En 2013, </span>l'association devient délégataire de la politique petite-enfance, enfance, jeunesse de la Communauté de Communes (contrat à 3 ans fermes).</p>

		<p><span>En 2014, </span>ouverture d'un Relais d'Assistants Maternels Itinérant.</p>



	</div>