---
title: Les Contrats Bleus
---

<!-- caro-->
<div class="container">
  <div class="row" max-height:>
    <div class="col-md-8">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
              <!-- Indicators -->
              <ol class="carousel-indicators" >
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" >
                <div class="item active">
                  <img src="images/mdj.jpg" alt="maison des jeunes">
                  <div class="carousel-caption">
                  </div>
              </div>

                <!-- Inser img-->
                <div class="item">
                  <img src="images/ptjeune3.png" alt="point jeune">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/slpc.png" alt="salle informatique">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/ptits-Loups.png" alt="la crèche">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/motricite2.jpg" alt="salle de motricité">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/slactivite4.png" alt="salle d'activité">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/cheval.png" alt="cheval">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/equitation.png" alt="équitation">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/velo.png" alt="sortie vélo">
                  <div class="carousel-caption">

                  </div>
                </div>

                <div class="item">
                  <img src="images/ski.png" alt="vaccance ski">
                  <div class="carousel-caption">

                  </div>
                </div>                
              </div>
              <!-- fin des images-->
              <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>



        </div>
    </div> 
    
         <div class="col-md-4">
      <h2>Présentation</h2>
    </div>   
  </div>
</div>  
  <!-- Fin du carousel -->   
     










<a href="#paragraphe1"><span class="label label-danger"><img src='../images/teddybear.png' img style="height:auto; width:auto; max-width:98px; max-height:98px;"><p></p><p>Petite enfance</p></img></span>
</a>

<a href="#paragraphe2"><span class="label label-warning"><img src='../images/enfance.png' img style="height:auto; width:auto; max-width:122px; max-height:122px;"><p></p><p>Enfance</p></span>
</a>

<a href="#paragraphe3"><span class="label label-succes"><img src='../images/jeunesse.png' img style="height:auto; width:auto; max-width:125px; max-height:130px;"><p></p><p>Jeunesse</p></span>
</a>

<div id="paragraphes">

<!-- Premier paragraphe -->
<div id="paragraphe1">
<h2>Pôle petite enfance</h2>

 LA MAISON DES P’TITS LOUPS
MULTIACCUEIL DE 0 à 4 ANS
<p></p>
<p>La crèche est un lieu d’apprentissage et de socialisation pour l’enfant. Mais c’est avant tout un lieu de plaisir. L’enfant doit s’y sentir bien et y passer des moments agréables.
L’équipe de professionnelles a défini 3 valeurs incontournables :
<ul>
  <li>Le respect de l’autre</li>
            <li>La vie en communauté</li>
            <li>Le plaisir</li>
            </ul>
          </p>


<p>Financement de la CAF et la MSA dans le cadre de la Prestation de Service Unique.</p>

<p>9 salariés :
La directrice, Emmanuelle CHAILLOU, un agent d’entretien et 7 professionnelles de la Petite Enfance.</p>



LA COCCINELLE
<p></p>
<p>Un lieu d’accueil, de rencontre et de jeux pour les enfants de la naissance à l’école maternelle. C’est un lieu de rencontre et de dialogue entre les enfants, les parents et les professionnels. Un espace pour prendre le temps d’accompagner l’enfant dans ses apprentissages, ses découvertes.</p>

  <!--cadre collé à gauche en #FDD0A3 et 3 colonnes et 9 colonnes pour l'autre texte-->
  
Les mardis
        <!--les horaires sont à aligner à la droite du cadre-->
de 9h00 à 11h15
Les jeudis
de 13h30 à 16h00
        <!--en italique-->
<span>Hors vacances scolaires</span>
  

 
<!--collé à droite-->
<p>Subventionné par la Caisse d’Allocation Familiale dans le cadre duLabel « Lieu d’Accueil Enfants Parents »

Mise à disposition gratuite par le Conseil Général d’une Educatrice de Jeunes Enfants, d’une Infirmière et interventions d’une TISF de l'ADMR</p>

LE RELAIS D’ASSISTANT(E)S MATERNEL(LE)S
<p></p>
<p>Un lieu d’échanges, de rencontres, d’information, et de documentation au service des parents et futurs parents, des assistant(e)s maternel(le)s.</p>

<p>Subventionné par la Caisse d’Allocations Familiales</p>
<p>Responsable du RAM : Laëtitia SAWRY</p>
</div>
<!-- FIN Premier paragraphe -->

<!-- Deuxième paragraphe -->
<div id="paragraphe2">
          <h2> Le Pôle enfance </h2>
        
        <p>LES ACCUEILS DE LOISIRS</p>
Un vrai mode de garde pour les enfants de 3 à 11 ans.

<p>Accueil à la journée, avec de nombreuses activités menées par des animateurs permanents
et vacataires, diplômés ou en cours de validation du Brevet d’Aptitude aux Fonctions d’Animateur (BAFA).</p>

<p>L’ouverture d’un Accueil de Loisirs sans Hébergement dépend d’une habilitation délivrée par le Ministère des Sports, de la Jeunesse, de l’Education Populaire et de la Vie Associative, Direction Départementale de la Cohésion Sociale et de la Protection des Populations.</p>

<p>Depuis 2006, l’association gère et développe les accueils de loisirs sur le territoire de la Communauté de Communes à toutes les périodes de vacances scolaires à part Noël et au mois d’Août.</p>
    <!--aligné à droite en italique-->
<p>Ouvertures des inscriptions 3 semaines avant les vacances</p>

<p>En 2009, nous avons développé les ouvertures aux mercredis, attribution des places en fonction de la situation familiale.</p>

<p>Répartition des ouvertures :

Vacances de Février et de la Toussaint : Salle socioculturelle et école de Vaupillon
Vacances d’Avril et le mois de Juillet : 
Ecole des écureuils, château de La Loupe et école Rolland Garros (au mois de Juillet uniquement)
Les Mercredis : Ecole des écureuils, château de La Loupe

Financement de la CAF et la MSA dans le cadre de la Prestation de Service Unique.
</p>
</div>
<!-- FIN Deuxième paragraphe -->

<!-- Troisième paragraphe -->

<div id="paragraphe3">     
         <h2> Le Pôle Jeunesse </h2>
      
        <h3>LA MAISON DES JEUNES</h3>
<!--décalé de 2 colonnes-->
<p>Financement de la CAF et la MSA dans le cadre de la Prestation de Service Unique, Contrat Educatif Local

<b>3 salariés :</b></p><!--en gras-->
Un directeur, Damien Ruols, un animateur sportif, Antony Gautier et une animatrice socioculturelle, Anne-Sophie Desboeufs.
<!--en gras-->
<p>Ouvert toute l’année à toutes les périodes de vacances scolaires, les mercredis et les samedis 14h à 18h.</p>

Un ensemble d’activités sportives et socioculturelles sont proposées à chaque vacances.
Ces animations ont pour objectifs :
<ul>
    <li>- de permettre aux jeunes de découvrir de nouvelles activités,</li>
    <li>- de mettre en relation les jeunes et le milieu associatif local,</li>
    <li>- d’apprendre aux jeunes à respecter les règles établies.</li>
</ul>
LES DÉPARTS EN SÉJOURS
3 séjours par an, deux en été et un soit au printemps, soit en hiver
S’inscrire dans la démarche de projet (investissement dans l’organisation).
Ces temps permettent de mettre en avant des capacités telles que le dépassement de soi,
l’autonomie et la participation aux temps collectifs.
Les activités proposées permettent la découverte de nouveaux environnements.


<h3>La citoyenneté</h3>

CONSEIL LOCAL DE LA JEUNESSE
<p></p>
<p>Véritable lieu d’éveil à la citoyenneté et de responsabilisation
A l’aide du tutorat assuré par leurs aînés conseillers de la communauté de communes, les jeunes peuvent
monter des projets et les mener à leur terme en étudiant les conditions de faisabilité et de
financement.
Deux animateurs permanents de l’association assurent la mise en place des réunions et gèrent le calendrier
des actions.</p>

<p>Point Information Jeunesse
C’est un lieu d’information et d’écoute, anonyme et gratuit.
Les jeunes peuvent trouver au PIJ de nombreuses documentations et des renseignements auprès
d’un animateur sur des sujets nombreux et variés :</p>
    <!--2 colonnes-->
    <p><ul>
      <li>- Enseignement</li>
      <li>- Vie pratique</li>
      <li>- Formation, métier</li> 
      <li>- Société</li>
      <li>- Emploi</li>
      <li>- Santé</li>
      <li>- Loisirs</li>
      <li>- Sports</li>
    </p>
<h3>1, 2, 3 Prêt</h3>
<p>Dispositif de prêt de jeux de société ouvert à tous.
Tous les ans, le premier week-end d’Octobre, mise en place du Festival du Jeu de société afin de s’amuser en famille à des jeux insolites et novateurs.</p>

</div>
<!-- FIN Troisième paragraphe -->

</div>

 