---
title: Les Contrats Bleus
---


<div class="container">
  <div class="row">
    <div class="col-md-6">
    <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
            <img src="images/1.jpg" alt="First slide">
          </div>
          <div class="item">
            <img src="images/DSC_0382.JPG" alt="Second slide">
            <!-- Static Header -->
                    <!-- <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to LOREM IPSUM</span>
                            </h2>
                            <br>
                            <h3>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                        </div>
                    </div><--><!-- /header-text -->
          </div>
          <div class="item">
            <img src="images/DSC_0402.JPG" alt="Third slide">
            <!-- Static Header -->
              <div class="header-text hidden-xs">
                   <div class="col-md-12 text-center">
                            
                  </div>
              </div><!-- /header-text -->
          </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
    <div class="col-md-6">
<h2>test de </h2>

</div>
</div>
</div>
<!-- Fin du carousel -->
<!-- Debut -->








<span class="label label-danger"><img src='../images/loups.png' img style="height:auto; width:auto; max-width:150px; max-height:150px;">Petite enfance</img></span>

<span class="label label-warning">Enfance</span>

<span class="label label-succes">Jeunesse</span>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Le Pôle petite enfance
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
 <h3>LA MAISON DES P’TITS LOUPS</h3>
MULTIACCUEIL DES 0 à 4 ANS
<p>La crèche est un lieu d’apprentissage et de socialisation pour l’enfant. Mais c’est avant tout un lieu de plaisir. L’enfant doit s’y sentir bien et y passer des moments agréables.
L’équipe de professionnelles a défini 3 valeurs incontournables :
<ul>
  <li>Le respect de l’autre</li>
            <li>La vie en communauté</li>
            <li>Le plaisir</li>
            </ul>
          </p>


<p>Financement de la CAF et la MSA dans le cadre de la Prestation de Service Unique.</p>

<p>9 salariés :
La directrice, Emmanuelle CHAILLOU, un agent d’entretien et 7 professionnelles de la Petite Enfance.</p>



LA COCCINELLE
<p>Un lieu d’accueil, de rencontre et de jeux pour les enfants de la naissance à l’école maternelle. C’est un lieu de rencontre et de dialogue entre les enfants, les parents et les professionnels. Un espace pour prendre le temps d’accompagner l’enfant dans ses apprentissages, ses découvertes.</p>

  <!--cadre collé à gauche en #FDD0A3 et 3 colonnes et 9 colonnes pour l'autre texte-->
  
Les mardis
        <!--les horaires sont à aligner à la droite du cadre-->
de 9h00 à 11h15
Les jeudis
de 13h30 à 16h00
        <!--en italique-->
<span>Hors vacances scolaires</span>
  

 
<!--collé à droite-->
<p>Subventionné par la Caisse d’Allocation Familiale dans le cadre duLabel « Lieu d’Accueil Enfants Parents »

Mise à disposition gratuite par le Conseil Général d’une Educatrice de Jeunes Enfants, d’une Infirmière et interventions d’une TISF de l'ADMR</p>

LE RELAIS D’ASSISTANT(E)S MATERNEL(LE)S

<p>Un lieu d’échanges, de rencontres, d’information, et de documentation au service des parents et futurs parents, des assistant(e)s maternel(le)s.</p>

<p>Subventionné par la Caisse d’Allocations Familiales</p>
<p>Responsable du RAM : Laëtitia SAWRY</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Le Pôle enfance
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        LES ACCUEILS DE LOISIRS
Un vrai mode de garde pour les enfants de 3 à 11 ans.

<p>Accueil à la journée, avec de nombreuses activités menées par des animateurs permanents
et vacataires, diplômés ou en cours de validation du Brevet d’Aptitude aux Fonctions d’Animateur (BAFA).</p>

<p>L’ouverture d’un Accueil de Loisirs sans Hébergement dépend d’une habilitation délivrée par le Ministère des Sports, de la Jeunesse, de l’Education Populaire et de la Vie Associative, Direction Départementale de la Cohésion Sociale et de la Protection des Populations.</p>

<p>Depuis 2006, l’association gère et développe les accueils de loisirs sur le territoire de la Communauté de Communes à toutes les périodes de vacances scolaires à part Noël et au mois d’Août.</p>
    <!--aligné à droite en italique-->
<p>Ouvertures des inscriptions 3 semaines avant les vacances</p>

<p>En 2009, nous avons développé les ouvertures aux mercredis, attribution des places en fonction de la situation familiale.</p>

Répartition des ouvertures :

Vacances de Février et de la Toussaint : Salle socioculturelle et école de Vaupillon
Vacances d’Avril et le mois de Juillet : 
Ecole des écureuils, château de La Loupe et école Rolland Garros (au mois de Juillet uniquement)
Les Mercredis : Ecole des écureuils, château de La Loupe

Financement de la CAF et la MSA dans le cadre de la Prestation de Service Unique.s
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Le Pôle Jeunesse
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>LA MAISON DES JEUNES</h3>
<!--décalé de 2 colonnes-->
Financement de la CAF et la MSA dans le cadre de la Prestation de Service Unique, Contrat Educatif Local

<span>3 salariés :</span><!--en gras-->
Un directeur, Damien Ruols, un animateur sportif, Antony Gautier et une animatrice socioculturelle, Anne-Sophie Desboeufs.
<!--en gras-->
<p>Ouvert toute l’année à toutes les périodes de vacances scolaires, les mercredis et les samedis 14h à 18h.</p>

Un ensemble d’activités sportives et socioculturelles sont proposées à chaque vacances.
Ces animations ont pour objectifs :
<ul>
    <li>- de permettre aux jeunes de découvrir de nouvelles activités,</li>
    <li>- de mettre en relation les jeunes et le milieu associatif local,</li>
    <li>- d’apprendre aux jeunes à respecter les règles établies.</li>
</ul>
LES DÉPARTS EN SÉJOURS
3 séjours par an, deux en été et un soit au printemps, soit en hiver
S’inscrire dans la démarche de projet (investissement dans l’organisation).
Ces temps permettent de mettre en avant des capacités telles que le dépassement de soi,
l’autonomie et la participation aux temps collectifs.
Les activités proposées permettent la découverte de nouveaux environnements.


<h3>La citoyenneté</h3>

CONSEIL LOCAL DE LA JEUNESSE
Véritable lieu d’éveil à la citoyenneté et de responsabilisation
A l’aide du tutorat assuré par leurs aînés conseillers de la communauté de communes, les jeunes peuvent
monter des projets et les mener à leur terme en étudiant les conditions de faisabilité et de
financement.
Deux animateurs permanents de l’association assurent la mise en place des réunions et gèrent le calendrier
des actions.

Point Information Jeunesse
C’est un lieu d’information et d’écoute, anonyme et gratuit.
Les jeunes peuvent trouver au PIJ de nombreuses documentations et des renseignements auprès
d’un animateur sur des sujets nombreux et variés :

    <!--2 colonnes-->
    <ul>
      <li>- Enseignement</li>
      <li>- Vie pratique</li>
      <li>- Formation, métier</li> 
      <li>- Société</li>
      <li>- Emploi</li>
      <li>- Santé</li>
      <li>- Loisirs</li>
      <li>- Sports</li>

<h3>1, 2, 3 Prêt</h3>
<p>Dispositif de prêt de jeux de société ouvert à tous.
Tous les ans, le premier week-end d’Octobre, mise en place du Festival du Jeu de société afin de s’amuser en famille à des jeux insolites et novateurs.</p>

</div>


      </div>
    </div>
  </div>
</div>


  </p><!-- .doc -->
</div><!-- .welcome -->