 <div><h3>INFORMATIONS PRATIQUES</h3>
Association Les Contrats Bleus
<!--centé et gras-->PÔLE ADMINISTRATIF
Rue Jean Moulin, 28240 La Loupe<!---->
Du Mardi au Vendredi : 9h00 à 12h00 et 13h30 à 18h00
<!--en italique--><span>Permanences téléphoniques les lundis de 9h00 à 12h00 et de 13h30 à 17h00</span>
02 37 29 94 47 mail : <!--mailto="-->lescontratsbleus@wanadoo.fr

<!--en gras et centré--><h4>Pôle Petite Enfance</h4>
<!--en gras et centré-->3 rue Henri Dunant, 28240 La Loupe
<!--en gras--><p>LA MAISON DES P’TITS Loups
Du Lundi au Vendredi de 7h30 à 18h15
02 37 29 45 68 - mail : lescontratsbleus.creche@orange.fr</p>
<!--en gras--><p>LA COCCINELLE
Les mardis de 9h00 à 11h15 et les jeudis de 13h30 à 16h00
02 37 29 94 47 - mail : lescontratsbleus@orange.fr</p>
<!--en gras--><p>RELAIS D’ASSISTANTS MATERNELS
Les mardis de 16h à 19h et les mercredis de 9h00 à 12h00</p>
<h4>PÔLE ENFANCE, JEUNESSE</h4>
02 37 29 94 47 - mail : lescontratsbleus@orange.fr

<!--en gras--><p>L’ACCUEIL DE LOISIRS DES 3 À 11 ANS
<p>Toutes les vacances, SAUF Noël et Août</p>
<p>Garderie de 7h00 à 9h00 et de 17h00 à 18h30</p>
<p>Temps d’accueil de 9h00 à 17h00</p>
<!--centré-->Vacances de La Toussaint et d’Hiver à la Salle socioculturelle de Vaupillon
Vacances de Pâques et Juillet sur La Loupe</p>
<!--en gras-->L’ ACCUEIL DE L OISIRS ADOLESCENTS (11 À 18 ANS )
<!--en gras-->Hors Vacances Scolaires :
Les mardis, jeudis et vendredis de 16h00 à 18h00
Les mercredis et samedis de 14h00 à 18h00
Toutes les vacances scolaires:
Du Lundi au Vendredi : 14h00 à 18h00
<!--en gras-->LE POINT INFORMATION JEUNESSE
Du mardi au vendredi de 9h30 à 12h00 et de 13h30 à 18h00
<span>Hors vacances scolaires</span>