 <div id="infos">
	<div class="col-md-12" id="titreinfo">
		<h5><i>Association Les Contrats Bleus</i></h5>
	</div> <!-- fin de div col-md-12 -->

 	<div class="col-md-4">
			<h4>PÔLE ADMINISTRATIF</h4>
			<p id="adresse">Rue Jean Moulin, 28240 La Loupe</p><!---->
		<div class="greyblock">
			<p>LA MAISON DES JEUNES</p>
			Du Mardi au Vendredi : 9h00 à 12h00 et 13h30 à 18h00
			<span>Permanences téléphoniques les lundis de 9h00 à 12h00 et de 13h30 à 17h00.</span>
			<p></p>
			<p>02 37 29 94 47</p> 
			<p id="mailfalse">lescontratsbleus(@)wanadoo.fr</p>
		</div>
	</div>

	<div class="col-md-4">
			<h4>PÔLE PETITE ENFANCE</h4>
			<p id="adresse">3 rue Henri Dunant, 28240 La Loupe</p>
		<div class="greyblock">
			<p>LA MAISON DES P’TITS LOUPS</p>
			<p>Du Lundi au Vendredi de 7h30 à 18h15</p>
			<p></p>
			<p >02 37 29 45 68</p>
			<p id="mailfalse">lescontratsbleus.creche(@)orange.fr</p>
		</div>
		<div class="greyblock">
			<p>LA COCCINELLE</p>
			<p>Les mardis de 9h00 à 11h15 et les jeudis de 13h30 à 16h00</p>
			<p id="adresse">02 37 29 94 47</p>
 			<p id="mailfalse">lescontratsbleus(@)orange.fr</a></p>
		</div>
		<div class="greyblock">
			<p>LE RELAIS D’ASSISTANTS MATERNELS</p>
			<p>Les mardis de 16h à 19h et les mercredis de 9h00 à 12h00</p>
		</div>
	</div>

	<div class="col-md-4">
			<h4>PÔLE ENFANCE, JEUNESSE</h4>
			<p>02 37 29 94 47, <span id="mailfalse">lescontratsbleus(@)orange.fr</span></p>

		<div class="greyblock" id="fo">
			<p>L’ACCUEIL DE LOISIRS DE 3 À 11 ANS</p>
			<p>Toutes les vacances, SAUF Noël et Août</p>
			<p>Garderie de 7h00 à 9h00 et de 17h00 à 18h30</p>
			<p>Temps d’accueil de 9h00 à 17h00</p>
			<p>Vacances de La Toussaint et d’Hiver à la Salle socioculturelle de Vaupillon</p>
			<p>Vacances de Pâques et Juillet sur La Loupe</p>
		</div>
		<div class="greyblock">
			<p>L’ ACCUEIL DE LOISIRS DE 11 À 18 ANS</p>
			<p>Hors Vacances Scolaires :</p>
			<p>Les mardis, jeudis et vendredis de 16h00 à 18h00
			Les mercredis et samedis de 14h00 à 18h00</p>
			<p>Toutes les vacances scolaires:</p>
			<p>Du Lundi au Vendredi : 14h00 à 18h00</p>
		</div>
		<div class="greyblock">
			<p>LE POINT INFORMATION JEUNESSE</p>
			<p>Du mardi au vendredi de 9h30 à 12h00 et de 13h30 à 18h00
			<span>Hors vacances scolaires</span></p>
		</div>
		
	</div>
	<div class="col-md-12"><br></br> </div>
 


