 <div id="infos">
	<div class="col-md-12" id="titreinfo">
		<h4><i>Les Contrats Bleus</i></h4>
	</div> <!-- fin de div col-md-12 -->

 	<div class="col-md-4">
			<h4>PÔLE ADMINISTRATIF</h4>
			<p id="adresse">Rue Jean Moulin, 28240 La Loupe</p><!---->
		<div class="greyblock">
			<p>LA MAISON DES JEUNES</p>
			Du Mardi au Vendredi : <b>9h00 à 12h00 et 13h30 à 18h00</b>
			<span>Permanences téléphoniques les lundis de <b>9h00 à 12h00 et de 13h30 à 17h00</b>.</span>
			<p></p>
			<p>02 37 29 94 47</p>
			<p id="mailfalse">lescontratsbleus(@)orange.fr</p>
		</div>
	</div>

	<div class="col-md-4">
			<h4>PÔLE PETITE ENFANCE</h4>
			<p id="adresse">3 rue Henri Dunant, 28240 La Loupe</p>
		<div class="greyblock">
			<p>LA MAISON DES P’TITS LOUPS</p>
			<p>Du Lundi au Vendredi de <b>7h30 à 18h15</b></p>
			<p></p>
			<p >02 37 29 45 68</p>
			<p id="mailfalse">lescontratsbleus.creche(@)orange.fr</p>
		</div>
		<div class="greyblock">
			<p>LA COCCINELLE</p>
			<p>Les mardis de <b>9h00 à 11h15</b> et les jeudis de <b>13h30 à 16h00</b></p>
			<p>02 37 29 94 47<p id="mailfalse">lescontratsbleus(@)orange.fr</a></p>

		</div>
		<div class="greyblock">
			<p>LE RELAIS D’ASSISTANTS MATERNELS</p>
			<p>02 37 49 00 45 / 06 32 23 61 65 <p id="mailfalse">lescontratsbleus.ram(@)orange.fr</p></p>
			<p>Les mardis de <b>16h à 19h</b> et les mercredis de <b>9h00 à 12h00</b></p>
		</div>

    <div class="greyblock">
			<p>LE POINT ACTIONS FAMILLES</p>
      <ul>
        <li>Le Lundi de 13h30 à 17h00</li>
        <li>Le Mardi, Jeudi, Vendredi de 9h00 à 11h30 et de 13h30 à 17h00</li>
        <li>Le Mercredi de 7h30 à 9h00</li>
        <li>Le Samedi de 8h30 à 11h30</li>
    </ul>
			<p> 02.37.52.94.16<p id="mailfalse">lescontratsbleus.familles(@)orange.fr</p></p>
		</div>
	</div>

	<div class="col-md-4">
			<h4>PÔLE ENFANCE, JEUNESSE</h4>
			<p>02 37 29 94 47, <span id="mailfalse">lescontratsbleus(@)orange.fr</span></p>

		<div class="greyblock" id="fo">
			<p>L’ACCUEIL DE LOISIRS DE 3 À 11 ANS</p>
			<p>Toutes les vacances, SAUF Noël et Août</p>
			<p>Garderie de <b>7h00 à 9h00 et de 17h00 à 18h30</b></p>
			<p>Temps d’accueil de <b>9h00 à 17h00</b></p>
			<p>Vacances de La Toussaint et d’Hiver à la Salle socioculturelle de Vaupillon</p>
			<p>Vacances de Pâques et Juillet sur La Loupe</p>
		</div>
		<div class="greyblock">
			<p>L’ ACCUEIL DE LOISIRS DE 11 À 18 ANS</p>
			<p>Hors Vacances Scolaires :</p>
			<p>Les mardis, jeudis et vendredis de <b>16h00 à 18h00</b>
			Les mercredis et samedis de <b>14h00 à 18h00</b></p>
			<p>Toutes les vacances scolaires:</p>
			<p>Du Lundi au Vendredi : <b>14h00 à 18h00</b></p>
		</div>
		<div class="greyblock">
			<p>LE POINT INFORMATION JEUNESSE</p>
			<p>Du mardi au vendredi de <b>9h30 à 12h00 et de 13h30 à 18h00</b>
			<span>Hors vacances scolaires</span></p>
		</div>

	</div>
	<div class="col-md-12"><br></br> </div>
