 <div id="infos">
<div class="col-md-12">
	<h3>INFORMATIONS PRATIQUES</h3>
	<h5><i>Association Les Contrats Bleus</i></h5></div>
 	<div class="col-md-4">

<!--centé et gras--><h4>PÔLE ADMINISTRATIF</h5>
<p>Rue Jean Moulin, 28240 La Loupe</p><!---->
<div class="greyblock">
Du Mardi au Vendredi : 9h00 à 12h00 et 13h30 à 18h00
<!--en italique--><span>Permanences téléphoniques les lundis de 9h00 à 12h00 et de 13h30 à 17h00</span>
<p></p>
<p>02 37 29 94 47</p> 
<!--mailto="--><p><a href="mailto:lescontratsbleus@wanadoo.fr">lescontratsbleus@wanadoo.fr</p></a>
</div>
</div>

<div class="col-md-4">
<!--en gras et centré--><h4>PÔLE PETITE ENFANCE</h4>
<!--en gras et centré--><p>3 rue Henri Dunant, 28240 La Loupe</p>
<div class="greyblock">
<!--en gras--><p>LA MAISON DES P’TITS LOUPS</p>
<p>Du Lundi au Vendredi de 7h30 à 18h15</p>
	<p></p>
<p>02 37 29 45 68</p>
 <p><a href="mailto:lescontratsbleus.creche@orange.fr">lescontratsbleus.creche@orange.fr</a></p>
</div>
<div class="greyblock">
<!--en gras--><p>LA COCCINELLE</p>
<p>Les mardis de 9h00 à 11h15 et les jeudis de 13h30 à 16h00</p>
<p>02 37 29 94 47</p>
 <a href="mailto:lescontratsbleus@orange.fr">lescontratsbleus@orange.fr</a></p>
</div>
<div class="greyblock">
<!--en gras--><p>RELAIS D’ASSISTANTS MATERNELS</p>
<p>Les mardis de 16h à 19h et les mercredis de 9h00 à 12h00</p>
</div>
</div>

<div class="col-md-4">
<h4>PÔLE ENFANCE, JEUNESSE</h4>
<p>02 37 29 94 47  , <a href="mailto:lescontratsbleus@orange.fr">lescontratsbleus@orange.fr</a></p>

<div class="greyblock">
	<p>L’ACCUEIL DE LOISIRS DE 3 À 11 ANS</p>
	<p>Toutes les vacances, SAUF Noël et Août</p>
	<p>Garderie de 7h00 à 9h00 et de 17h00 à 18h30</p>
	<p>Temps d’accueil de 9h00 à 17h00</p>
<!--centré-->Vacances de La Toussaint et d’Hiver à la Salle socioculturelle de Vaupillon
				Vacances de Pâques et Juillet sur La Loupe</p>
</div>
<div class="greyblock">
<!--en gras--><p>L’ ACCUEIL DE LOISIRS DE 11 À 18 ANS</p>
<!--en gras--><p>Hors Vacances Scolaires :
<p>Les mardis, jeudis et vendredis de 16h00 à 18h00
Les mercredis et samedis de 14h00 à 18h00</p>
Toutes les vacances scolaires:
<p>
Du Lundi au Vendredi : 14h00 à 18h00</p>
<!--en gras-->LE POINT INFORMATION JEUNESSE
<p></p>
Du mardi au vendredi de 9h30 à 12h00 et de 13h30 à 18h00
<span>Hors vacances scolaires</span>
</p>


</div>
</div>

<div class="col-md-12">

<div id="bande_horizontale"></div>
<div class="row">
<form class ="col-md-6-md-offset-3" method="post" action="http://staging-simplonform.herokuapp.com/message/8e2ac196-5849-41b6-9fdd-6da8b6314423">
<div id="boxnom">
<p>Nom :</p>
<input type="text" oval="Nom*" name="Nom" placeholder="Nom*" required="required"/>
</div>
<div id="boxprenom">
<p>Prénom :</p>
<input type="text" oval="Prénom*" name="Prenom" placeholder="Prénom*" required="required"/>
</div>
<div id="boxmail">
<p>E-mail :</p>
<input type="text" oval="E-mail*" name="email" placeholder="E-mail*" required="required"/>
</div>
<div id="boxphone">
<p>Téléphone :</p>
<input type="text" oval="Téléphone*" name="Telephone" placeholder="Téléphone*" required="required"/>
</div>
<div id="boxmessage">
<p>Message :</p>
<textarea oval="Message" name="Message" placeholder="Message*" required="required"></textarea>
</div>
<div id="mentions">
<p>Les champs marqués d'une * sont obligatoires</p>
</div>
<div id="boxenvoyer">
<button title="Envoyer" value="Envoyer"><span class="ico btn send">ENVOYER</span></button>
</div>
</form>
</div><!--row-->
</div><!--container-fluid-->

</div>
