<!--    PLAN LOCALISATION     -->

<div class="row">

<h3> Où nous situer? </h3>

  <div id="plan">

	<img src="images/plan.png" style="height:auto, width:auto, max-height:80%, max-width:80%";></img>

  </div>

</div>